<div class="col-md-6 st-widget">
    <div class="st-widget-header">
        <h2>stream</h2>
    </div>

    <div class="st-widget-body">
        <ul class="list-unstyled">
            <li class="header"></li>
            streamy stuff
        </ul>
    </div>

</div>
