<div class="panel panel-default">
  <div class="text-center">
    <h3><small>YOUR ACCOUNT INFORMATION</small></h3>
  </div>
  <hr>

  <div class="panel-body" id="login-container">
    <h3>Email Address: <small>{{email}}</small></h3>
    <h3>Username: <small>{{username}}</small></h3>
    <h3>First Name: <small>{{firstName}}</small></h3>
    <h3>Last Name: <small>{{lastName}}</small></h3>
  </div>
</div>
