<div class="panel panel-default">
  <div class="text-center">
    <h3><small>YOUR ACCOUNT INFORMATION</small></h3>
  </div>
  <hr>

  <div class="panel-body" id="login-container">
    <p>Username: {{input type="text" value=model.username}}</p>
    <p>Email Address: {{input type="text" value=model.email}}</p>
    <p>First Name: {{input type="text" value=firstName}}</p>
    <p>Last Name: {{input type="text" value=model.lastName}}</p>
    {{!debounced-input value=model.firstName debounceWait=300 fireAtStart=false class="form-control" name="firstName"}}

  </div>
</div>
