<div class="panel panel-default">
  <div class="text-center">
    <h3><small>YOUR ACCOUNT INFORMATION</small></h3>
  </div>
  <hr>

  <div class="text-center panel-body" id="login-container">
    <form method="post" action="login" class="center-block">
      <div class="form-group">
        <input type="email" class="form-control" name="email" value="" placeholder="Email Address">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" name="password" value="" placeholder="Password">
      </div>
      <div class="pull-left"><button type="button" class="btn btn-primary" data-toggle="modal" data-target=".register-modal">REGISTER</button></div>
        <div class="pull-right"><button type="submit" class="btn btn-default"  value="Login">Login</button></div>
    </form>
  </div>
</div>
